.navbar{
    padding-right: 10% ;
    background: rgb(0,47,108);
    background: linear-gradient(0deg, rgba(0,47,108,1) 19%, rgba(213,0,50,1) 71%);
    .container-fluid{
        a{
            text-decoration: none;
            .logo{
                width: 100px;
            }
        }
        .navbar-toggler{
            .navbar-toggler-icon{}
        }
        .collapse{
            .navbar-nav{
                gap: 50px;
                .nav-item{
                    .nav-link{
                        font-style: italic;
                        font-weight: 800;
                        color: $color-blanco;
                        text-decoration: none;
                        &:hover{
                            color: map-get($colores, azul_claro);
                        }
                    }
                }
            }
        }
    }
}



    