.partidos{
    .partido-promocion{
        img{
            width: 1fr;
            border-radius: 25px;  
        }
    }
    .partidos-tickets{
        @include justify(center);
        flex-direction: column;
        gap: 5%;
        width: 100%;
        .fecha-partidos{
            @include justify(space-around);
            align-items: center;
            margin: 1%;
            background-color: map-get($colores, rojo);
            border-radius: 25px;
            .locatario{
                text-align: start;
                h2{
                    width: 157px;
                    color: map-get($colores, amarillo);
                }
            }
            .fecha{
                display: flex;
                flex-direction: column;
                align-items: start;
                .rondaypartido{
                    color: black;
                }
                .dia{
                    color: map-get($colores, amarillo);
                }
                p{
                    color: $color-blanco;
                }
            }
            .logoynombre{
                img{
                    width: 100px;
                } 
                .rival{
                    .sacramento{
                        color: map-get($colores, azul);
                    }
                    .kings{
                        @extend .sacramento;
                        font-weight: 1000;
                    }
                }  
            }
            .boton{
                .boton-partido {
                position: relative;
                padding: 10px 30px;
                text-decoration: none;
                color: map-get($colores, azul_claro);
                letter-spacing: 3px;
                border-radius: 50%;
                font-size: larger;
                font-weight: 1000;
                overflow: hidden;
                z-index: 1;
                input{
                    height: 100%;
                    border-radius: 100px;
                    color:map-get($colores, azul_claro);
                    font-size: larger;
                    font-weight: 1000;
                    width: 200px;
                    background-color: map-get($colores, amarillo);
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -200%;
                    background-color: map-get($colores, azul_claro);
                    height: 200%;
                    width: 100%;
                    border-radius: 50%;
                    transition: all 0.6s ease;
                    z-index: -1;
                } 
                &:hover::before{
                    top: 0;
                    border-radius: 0%;
                } 
                }
            }
        }
    }
}